<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LAUNDRY DAY</title>

    <!-- favicon -->
    <link rel="icon" href="http://laundry-day.site/images/favicon.png" />

    <!-- FONT -->
    <link rel="stylesheet" href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"/>
    
    <!-- CSS -->
    <link rel="stylesheet" href="http://laundry-day.site/css/signup.css" />
    <link rel="stylesheet" href="http://laundry-day.site/css/components/header.css" />
    <link rel="stylesheet" href="http://laundry-day.site/css/components/footer.css" />

    <!-- ICON -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

    <!-- GSAP & ScrollTrigger -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>

    <!-- GSAP ScrollToPlugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>
    
    <!-- lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <!-- CryptoJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

    <!-- JS -->
    <script src="http://laundry-day.site/js/components/header.js"></script>
    <script src="http://laundry-day.site/js/components/footer.js"></script>
    <script defer src="http://laundry-day.site/js/signup.js"></script>
  </head>
  <body>
    <div id="signup">
      <!-- HEADER -->
      <app-header></app-header>

      <form class="signup-form">
        <h3>Sign up</h3>
        <div class="email_input">
          <label for="user_email">이메일<span class="signup_required">*</span></label>
          <input type="email" id="user_email" name="email" placeholder="이메일" required>
          <p class="email-validation error-msg"><iconify-icon icon="material-symbols:error"></iconify-icon>유효한 이메일을 입력해 주세요.</p>
          <button>이메일 인증하기</button>
        </div>
        <div class="pw_input">
          <label for="user_pw">비밀번호<span class="signup_required">*</span></label>
          <p class="msg">영문, 숫자, 특수문자를 포함한 8자 이상의 비밀번호를 입력해주세요.</p>
          <input type="password" id="user_pw" name="password" placeholder="비밀번호" required>
          <p class="pw-validation error-msg"><iconify-icon icon="material-symbols:error"></iconify-icon>비밀번호를 입력해 주세요.</p>
          <p class="pw-validation error-pw-msg"><iconify-icon icon="material-symbols:error"></iconify-icon>영문, 숫자, 특수문자를 포함한 8자 이상의 비밀번호를 입력해주세요.</p>
        </div>
        <div class="pwConfirm_input">
          <label for="pwConfirm">비밀번호 확인<span class="signup_required">*</span></label>
          <input type="password" id="pwConfirm" name="confirm-password" placeholder="비밀번호 확인" required>
          <p class="pw-match error-msg"><iconify-icon icon="material-symbols:error"></iconify-icon>비밀번호가 일치하지 않습니다.</p>
        </div>
        <div class="name_input">
          <label for="user_name">이름<span class="signup_required">*</span></label>
          <input type="text" id="user_name" name="name" placeholder="이름" required>
          <p class="name-validation error-msg"><iconify-icon icon="material-symbols:error"></iconify-icon>이름을 입력해 주세요.</p>
        </div>
        <div class="phone_input">
          <label for="user_phone">휴대폰<span class="signup_required">*</span></label>
          <p class="msg">휴대폰 번호를 입력해 주세요. 예: 010-1234-5678</p>
          <input type="tel" id="user_phone" name="phone" required pattern="[0-9]{3}-[0-9]{3,4}-[0-9]{4}">
          <p class="phone-validation error-msg"><iconify-icon icon="material-symbols:error"></iconify-icon>하이픈(-)을 포함하여 휴대폰 번호를 입력해 주세요.</p>
          <p class="phone-validation error-phone-msg"><iconify-icon icon="material-symbols:error"></iconify-icon>유효하지 않은 휴대폰 번호입니다.</p>
          <button>휴대폰 인증하기</button>
        </div>
        <div class="term_input">
          <input type="checkbox" id="term" name="term">
          <label for="term" class="term">이용약관 동의<span>(필수)</span><a href="javascript:void(0)">내용보기</a></label>
        </div>
        <div class="terms_input">
          <input type="checkbox" id="terms" name="terms">
          <label for="terms" class="terms">개인정보 수집 및 이용 동의<span>(필수)</span><a href="javascript:void(0)">내용보기</a></label>
          <p class="term-validation error-msg"><iconify-icon icon="material-symbols:error"></iconify-icon>필수 항목에 동의해 주세요.</p>
        </div>
        <button type="submit" class="signup-btn">회원 가입하기</button> 
      </form>

      <!-- FOOTER -->
      <app-footer></app-footer>
    </div>
    <script>
      new Vue({
        el: '#signup',
        components: {
          'app-header': Vue.component('app-header'),
          'app-footer': Vue.component('app-footer')
        }
      });
    </script>
  </body>
</html>